/* colors */
:root {
    --background:#403D39;
    --orange:#eb5f28;
    --orange-gradient:#eb5f2888;
    --white:#FFFCF2;
}


/* backgropund */
* {
    box-sizing: border-box;
    background-color: var(--background);
}
/* sets up all flex boxes */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* makes all flex boxes look right */
section{
    flex: 1 0 25%;
    margin: 1rem 1rem;
    border: dashed var(--white);
    display:flex;
    flex-flow: column wrap;
    align-items: center;
}
/* header */
h1 {
    color: var(--orange);
    text-align:center;
    font-family: "Palatino", "URW Palladio L", serif;
}
/* flex box titles */
h2 {
    color: var(--orange);
    border: solid var(--white);
    display: inline-flex;
    margin-top: -20px;
}
/* footer */
h3 {
    color: var(--orange);
    text-align:center;
}
/* code snippets */
pre {
    background-image: linear-gradient(var(--orange-gradient), var(--orange));
    padding: 3rem 1rem;
    margin: 1rem;
    text-wrap: wrap;
    user-select: all;
    display: block;
    flex-grow: 1;
}
/* descriptions */
p {
    text-wrap: wrap;
    color: var(--white);
    padding: 0 1rem;
    text-align: center;
}
/* changes flex boxes to be only 2 per row */
@media screen and (max-width: 922px){
    section {
        flex: 1 0 40%;
    }
}
/* changes flex boxes to be only 1 per row */
@media screen and (max-width: 768px){
    section {
        flex: 1 0 80%;
    }
}